<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
    <div layout:fragment="content" class="content content1">        
        안녕하세요. G마켓입니다. 본문 영역입니다.
        <p>깃허브와 연동중입니다.</p>
        <p>초대받았습니다. 저는 팀원 강씨입니다. 저는 강동원 branch를 새로 생성 후 kangdongwan branch로 변경하여 작업후 commit합니다.</p>
        <p>강동원입니다. 저는 기능을 하나 더 완성하였습니다.</p>
    </div>
</body>
</html>

<!-- 7)controller만들기-->